# LOAD DATA

In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
data = pd.read_json("Data_for_labeling_trainset.jsonl", lines=True)

In [3]:
data.head()

                                                text           meta
0  Un homme âgé de 77 ans présentait des signes c...  {'Id': '150'}
1  Mr. R,R âgé de 53 ans sans antécédents patholo...  {'Id': '151'}
2  Un homme de 47 ans aux antécédents d’infarctus...  {'Id': '152'}
3  Mme C.S..., âgée de 25 ans, célibataire, sans ...  {'Id': '153'}
4  Un adénocarcinome prostatique avait été diagno...  {'Id': '154'}

In [4]:
data.shape

(567, 2)

In [5]:
data.iloc[440]["text"]

'Patient de 68 ans, sans antécédents notables, est admis pour des douleurs abdominales aigues avec des nausées et des vomissements incoercibles dans un contexte d’altération de l’état général (AEG) et de douleurs osseuse. L’examen clinique trouve un patient apyrétique, déshydraté avec un indice OMS à 3. L’examen ostéoarticulaire révèle des douleurs provoquées par la palpation surtout des vertèbres. Le bilan biochimique montre une hypercalcémie majeure à 140 mg/l, une Béta2µglobuline à 22mg/l et une insuffisance rénale avec une clairance à 8 ml/mn. Le protidogramme note un pic oligoclonale à 7g/l avec une hypoalbuminémie à 16g/l. L’immunofixation confirme la présence d’une chaine légère libres monoclonales d’isotypie Lambda. La protéinurie de Bence jonces est positif ; le dosage des chaines légères libres n’a pu être réalisé. Sur le plan hématologique, l’hémogramme trouve une anémie normochrome normocytaire à 9,9 g/dl, une hyperleucocytose à 16,6 Giga/l et un taux de plaquettes à 171Giga/l avec au frottis une plasmocytose sanguine estimée à 3 Giga/l. Le myélogramme retrouve une moelle envahie à 65% de plasmocytes. L’analyse cytogénétique par FISH ne montre pas d’anomalies péjoratives (notamment la t(4,14) et la del 17p). Le bilan osseux révèle un tassement vertébral de D12 à L3. Le diagnostic de leucémie à plasmocytes a été retenu. Sur le plan thérapeutique le patient a été mis sous protocole VTD (Velcade + Thalidomide + Déxaméthasone) associé des Biphosphonates mensuels. Le patient a reçu au total 6 cures VTD et 12 injections de Bisphosphonates avec obtention d’une rémission complète persistante à six mois de fin traitement. Le patient est actuellement en attente d’une autogreffe.\n'

In [6]:
data.tail()

                                                  text           meta
562  Monsieur B., âgé de 58 ans, a consulté en janv...  {'Id': '712'}
563  D.M., homme de 51 ans, sans antécédent, consul...  {'Id': '713'}
564  P., homme de 23 ans, était rapatrié de Calcutt...  {'Id': '714'}
565  L.G, homme de 64 ans, avait comme antécédent u...  {'Id': '715'}
566  B.A…, âgé de 50 ans, sans antécédents patholog...  {'Id': '716'}

In [7]:
data.drop(['meta'], axis=1, inplace=True)

In [8]:
data

                                                  text
0    Un homme âgé de 77 ans présentait des signes c...
1    Mr. R,R âgé de 53 ans sans antécédents patholo...
2    Un homme de 47 ans aux antécédents d’infarctus...
3    Mme C.S..., âgée de 25 ans, célibataire, sans ...
4    Un adénocarcinome prostatique avait été diagno...
..                                                 ...
562  Monsieur B., âgé de 58 ans, a consulté en janv...
563  D.M., homme de 51 ans, sans antécédent, consul...
564  P., homme de 23 ans, était rapatrié de Calcutt...
565  L.G, homme de 64 ans, avait comme antécédent u...
566  B.A…, âgé de 50 ans, sans antécédents patholog...

[567 rows x 1 columns]